.product-summary-section{
    border-radius: 2px;
    box-shadow: 6px 8px 6px 6px #ebebeb;
}
.summary{
  padding: 5px 10px;
  border-radius: 3px;
}
.summary.active{
  border-top: 5px solid rgb(255, 180, 4);
 
}
.specification{
  padding: 5px 10px;
  border-radius: 3px;
}
.specification.active{
  background-color: #33c24d;
  color: white;
}
.author{
  padding: 5px 10px;
  border-radius: 3px;
}
.author.active{
  background-color: #33c24d;
  color: white;
}
.contact{
  padding: 5px 10px;
  border-radius: 3px;
}
.contact.active{
  background-color: #33c24d;
  color: white;
}