.product-summary-section{
    border-radius: 2px;
    box-shadow: 6px 8px 6px 6px #ebebeb;
}
.middle-dashboard a{
  text-decoration: none;
}
.summary{
  padding: 5px 10px;
  border-radius: 3px;
}
.summary.active{
  border-top: 4px solid #ff7900 ;
 
}
.specification{
  padding: 5px 10px;
  
}
.specification.active{
  border-top: 4px solid #ff7900 ;
}
.author{
  padding: 5px 10px;
  
}
.author.active{
  border-top: 4px solid #ff7900;
}
.contact{
  padding: 5px 10px;
  
}
.contact.active{
  border-top: 4px solid rgb(255, 180, 4) !important;
}

